.company-navbar {
    /* background-color: #21ce99; */
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin-left: 5vw;
    align-items: center;
}

.company-navbar-left {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.company-info {
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
}

#transfer-button {
    margin-top: 50px;
    display: inline-flex;
    margin-bottom: 5vh;
    margin-left: 10%;
    margin-right: 10%;
    width: 30vw;
    /* border: 1px solid #4bb4ff; */
}

#transfer-button * {
    text-decoration: none;
    /* color: black; */
}

.company-chart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-chart img {
    width: 50vw;
}

#quarter-button {
    margin-left: 5vw;
    width: 90vw;
    height: 5vh;
    display: inline-flex;
    justify-content: space-between;
}

#quarter-button div {
    margin-left: 15%;
    margin-right: 15%;
}

#ogprice {
    display: none;
}

.company-stats {
    display: inline-flex;
    margin-left: 5vw;
    justify-content: center;
    align-items: center;
}

.company-stats img {
    margin-right: 20px;
}

#company-tik {
    display: block;
}

#price {
    display: block;
}

.news {
    margin-left: 5vw;
    margin-top: 5vh;
    margin-bottom: 25vh;
    width: 90vw;
}

.news img {
    width: 80px;
    height: auto;
    border-radius: 40px;
    display: inline-flex;
    margin-right: 20px;
}

.news p {
    display: inline-flex;
    text-decoration: none;
    color: black;
}

.news a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.news-div {
    display: flex;
    margin-top: 3vh;
    padding: 15px;
    border: 1px solid black;
}

.news-div:hover {
    box-shadow: 0 0 1px 1px black;
}