.cv-education {
    background-color: aquamarine;
    border-radius: 20px;
    margin: 0 5vw 1vw 5vw;
    padding: 2vw;
}

.cv-skills {
    background-color: burlywood;
    border-radius: 20px;
    margin: 0 5vw 1vw 5vw;
    padding: 2vw;
}

.cv-competitions {
    background-color: lightblue;
    border-radius: 20px;
    margin: 0 5vw 1vw 5vw;
    padding: 2vw;
}

.cv-volunteering {
    background-color: coral;
    border-radius: 20px;
    margin: 0 5vw 1vw 5vw;
    padding: 2vw;
}

.cv-hobbies {
    background-color: darkkhaki;
    border-radius: 20px;
    margin: 0 5vw 1vw 5vw;
    padding: 2vw;
}

.cv-otherinfo {
    background-color: lightgreen;
    border-radius: 20px;
    margin: 0 5vw 1vw 5vw;
    padding: 2vw;
}

.cv-experience {
    background-color: gold;
    border-radius: 20px;
    margin: 0 5vw 1vw 5vw;
    padding: 2vw;
}

.cv-clubs {
    background-color: rebeccapurple;
    border-radius: 20px;
    margin: 0 5vw 1vw 5vw;
    padding: 2vw;
}

.cv-projects {
    background-color: tomato;
    border-radius: 20px;
    margin: 0 5vw 1vw 5vw;
    padding: 2vw;
}

.cv-hackathons {
    background-color: green;
    border-radius: 20px;
    margin: 0 5vw 1vw 5vw;
    padding: 2vw;
}