.cv-education {
    background-color: aquamarine;
    border-radius: 20px;
    margin: 0 5vw 1vw 5vw;
    padding: 2vw;
}

.cv-skills {
    background-color: aquamarine;
    border-radius: 20px;
    margin: 0 5vw 0 5vw;
    padding: 2vw;
}

.cv-competitions {
    background-color: aquamarine;
    border-radius: 20px;
    margin: 0 5vw 0 5vw;
    padding: 2vw;
}

.cv-volunteering {
    background-color: aquamarine;
    border-radius: 20px;
    margin: 0 5vw 0 5vw;
    padding: 2vw;
}

.cv-hobbies {
    background-color: aquamarine;
    border-radius: 20px;
    margin: 0 5vw 0 5vw;
    padding: 2vw;
}

.cv-otherinfo {
    background-color: aquamarine;
    border-radius: 20px;
    margin: 0 5vw 0 5vw;
    padding: 2vw;
}

.cv-experience {
    background-color: aquamarine;
    border-radius: 20px;
    margin: 0 5vw 0 5vw;
    padding: 2vw;
}

.cv-clubs {
    background-color: aquamarine;
    border-radius: 20px;
    margin: 0 5vw 0 5vw;
    padding: 2vw;
}

.cv-projects {
    background-color: aquamarine;
    border-radius: 20px;
    margin: 0 5vw 0 5vw;
    padding: 2vw;
}

.cv-hackathons {
    background-color: aquamarine;
    border-radius: 20px;
    margin: 0 5vw 0 5vw;
    padding: 2vw;
}