.cv-splash {
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-splash div {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.cv-splash img {
    /* width: 100%; */
    /* position: absolute;
    top: -100px;
    overflow: hidden;
    object-fit: cover; */
    /* width: 50%; */
    justify-content: center;
    align-items: center;
}

.cv-aboutme {
    display: inline-flex;
    margin-top: 10vw;
    margin-bottom: 10vw;
}

.cv-aboutme img {
    width: 25vw;
    height: 25vw;
    margin-left: 10vw;
    margin-right: 5vw;
    border-radius: 50%;
    display: inline-flex;
}

.cv-aboutme p {
    width: 50vw;
    margin-right: 10vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: "Calibri Light";
    font-size: 1.5vw;
}

.cv-skills {
    background-color: navajowhite;
    border-radius: 20px;
    margin: 0 5vw 1vw 5vw;
    padding: 2vw;
}

.cv-competitions {
    background-color: lightblue;
    border-radius: 20px;
    margin: 0 5vw 1vw 5vw;
    padding: 2vw;
}

.cv-volunteering {
    background-color: coral;
    border-radius: 20px;
    margin: 0 5vw 1vw 5vw;
    padding: 2vw;
}

.cv-hobbies {
    background-color: darkgrey;
    border-radius: 20px;
    margin: 0 5vw 1vw 5vw;
    padding: 2vw;
}

.cv-otherinfo {
    background-color: lightgreen;
    border-radius: 20px;
    margin: 0 5vw 1vw 5vw;
    padding: 2vw;
}

.cv-clubs {
    background-color: rebeccapurple;
    border-radius: 20px;
    margin: 0 5vw 1vw 5vw;
    padding: 2vw;
}

.cv-projects {
    background-color: tomato;
    border-radius: 20px;
    margin: 0 5vw 1vw 5vw;
    padding: 2vw;
}

.cv-hackathons {
    background-color: skyblue;
    border-radius: 20px;
    margin: 0 5vw 1vw 5vw;
    padding: 2vw;
}

.cv-EE {
    margin: 7vw;
}

.cv-EE h1 {
    text-align: center;
}

.cv-timeline {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    color: black;
    margin: 0 auto;
    display: block;
}

.cv-timeline>li:after {
    width: 22px;
    height: 44px;
}

.cv-timeline::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: -20px;
    left: 50%;
    width: 2px;
    background-color: black;
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.cv-timeline>li:nth-child(odd) {
    left: 50%;
    padding-left: 40px;
}

.cv-timeline>li:nth-child(even) {
    padding-right: 40px;
    text-align: right;
    right: 40px;
}

.cv-timeline>li {
    width: 50%;
    position: relative;
    padding: 1.5em 0;
}

.cv-timeline>li .cv-icon {
    z-index: 1;
}

.cv-timeline>li:nth-child(odd)::before {
    left: -20px;
}

.cv-timeline>li:nth-child(even):before {
    right: -20px;
}

.cv-timeline>li::before {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 0 0 2px black;
}

.cv-timeline>li .cv-icon:before {
    position: absolute;
    content: '';
    display: block;
    height: 1px;
    width: 55px;
    top: 50%;
    background-color: black;
}

.cv-timeline>li:nth-of-type(even) ul {
    background: rgb(125, 106, 196);
    padding-left: 7vw;
}

.cv-timeline>li:nth-of-type(odd) ul {
    background: rgb(196, 106, 106);
    padding-right: 7vw;
}


/* .cv-timeline>li:before,
.cv-timeline>li:after,
.cv-timeline>li .cv-icon {
    position: absolute;
    top: 4.6em;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '';
    display: block;
    color: black;
    background-color: green;
} */

.cv-timeline>li:nth-child(even):after {
    right: -23px;
}

.cv-timeline>li:nth-child(odd):after {
    left: -23px;
}

.cv-timeline>li .cv-icon,
.cv-timeline>li:after,
.cv-timeline>li:before {
    position: absolute;
    top: 4.6em;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '';
    display: block;
    background-color: white;
}

.cv-timeline>li:nth-child(odd) .cv-icon:after,
.cv-timeline>li:nth-child(odd) .cv-icon:before {
    left: 100%;
    margin-left: 5px;
}

.cv-timeline>li:nth-child(even) .cv-icon:after,
.cv-timeline>li:nth-child(even) .cv-icon:before {
    right: 100%;
    margin-right: 5px;
}

.cv-timeline>li:nth-child(odd) .cv-icon:after {
    margin-left: 0;
    -webkit-transform: translateY(-50%) translateX(-50%) translateX(61px);
    -o-transform: translateY(-50%) translateX(-50%) translateX(61px);
    -ms-transform: translateY(-50%) translateX(-50%) translateX(61px);
    transform: translateY(-50%) translateX(-50%) translateX(61px);
}

.cv-timeline>li:nth-child(even) .cv-icon:after {
    margin-right: 0;
    -webkit-transform: translateY(-50%) translateX(50%) translateX(-61px);
    -o-transform: translateY(-50%) translateX(50%) translateX(-61px);
    -ms-transform: translateY(-50%) translateX(50%) translateX(-61px);
    transform: translateY(-50%) translateX(50%) translateX(-61px);
}

.cv-timeline>li .cv-icon:after {
    position: absolute;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    box-shadow: 0 0 0 6px black;
    top: 50%;
    background-color: white;
}

.cv-timeline>li:nth-child(even) .cv-icon {
    right: 0;
    -webkit-transform: translateY(-50%) translateX(100%) translateX(61px);
    -o-transform: translateY(-50%) translateX(100%) translateX(61px);
    -ms-transform: translateY(-50%) translateX(100%) translateX(61px);
    transform: translateY(-50%) translateX(100%) translateX(61px);
}

.cv-timeline>li:nth-child(odd) .cv-icon {
    left: 0;
    -webkit-transform: translateY(-50%) translateX(-100%) translateX(-61px);
    -o-transform: translateY(-50%) translateX(-100%) translateX(-61px);
    -ms-transform: translateY(-50%) translateX(-100%) translateX(-61px);
    transform: translateY(-50%) translateX(-100%) translateX(-61px);
}

.cv-timeline>li .cv-icon * {
    font-size: 5vw;
    vertical-align: middle;
}

.cv-timeline>li h3 {
    font-size: 1.8vw;
    letter-spacing: 2px;
}

.h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.cv-timeline>li h4 {
    color: black;
    font-size: 1vw;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.cv-timeline>li .cv-date {
    margin-bottom: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.9vw;
}

.cv-timeline>li p {
    color: black;
}

p:last-child {
    margin-bottom: 0;
}

p {
    margin-bottom: 1em;
}

p {
    margin: 0 0 10px;
}