* {
    font-family: "DIN Pro", sans-serif;
    margin: 0;
    padding: 0;
}

.landing {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(4, 1fr); */
}

.landing-navbar {
    /* background-color: #21ce99; */
    display: inline-flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
}

.landing-navbar-left {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.landing-navbar-right {
    display: inline-flex;
}

.home {
    display: inline-flex;
    padding-right: 25px;
}

.nav-about {
    display: inline-flex;
    margin-right: 25px;
}

.intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('https://www.publicdomainpictures.net/pictures/120000/velka/dragonfly-1433523091Q0o.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 1); */
}

.intro img {
    width: 100%;
}

#home-button {
    border: 1px solid #4bb4ff;
    padding: 10px 50px;
}

.about {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: none;
}

.about p {
    margin: 20px 25vw;
}

.education {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: none;
}

.education h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

.education div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.education-info {
    height: 25vw;
    width: 25vw;
    font-size: 20px;
    border: 1px solid black;
}

.education-info:hover {
    box-shadow: 0 0 2px 2px black;
}

.Link {
    text-decoration: none;
    color: black;
}

.dragonfly {
    display: grid;
    grid-template-columns: 25px 25px;
    grid-template-rows: 25px 25px;
    margin-right: 20px;
    border-style: solid;
    border-color: #4bb4ff;
}

.dfbl {
    background-color: #4bb4ff;
}

.dfblk {
    background-color: white;
}

