.research-detail {
    margin-left: 10vw;
    width: 80vw;
    margin-top: 5vw;
}

.research-navbar {
    /* background-color: #21ce99; */
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin-left: 5vw;
    align-items: center;
}

.research-navbar-left {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#home-research {
    border: 1px solid #4bb4ff;
    color: black;
    margin-left: 5vw;
}

#research-button {
    margin-left: 5vw;
    border: 1px solid #4bb4ff;
    background-color: #4bb4ff;
    color: white;
}

.filings-table {
    margin-bottom: 5vh;
}